elpaca/
eln-cache/
*.elc
custom.el
auto-save-list/
recentf
savehist
.DS_Store
easysession/
history
places
transient/
undo-fu-session/
var/
tree-sitter/
.aob/
tramp
request/
recentf.eld
places.eld
projects.eld
/dape-breakpoints
__pycache__/
.claude/settings.local.json
